<h3>{{title}}</h3>
<p>{{body}}</p>

<div>
  <div class="container">
      <hr>
      <div class="panel panel-default" ng-repeat="event in events">
        <div class="panel-heading">
          <h3 class="panel-title">
              {{event.name}} - 
            <a href="#/event/{{event.id}}">
              Link
            </a>
          </h3>
        </div>
        <div class="panel-body">
           <ul ng-repeat="presentation in event.presentations">
            <li> 
              <a href="#/event/preso/{{event.id}}/{{presentation.id}}"> 
                {{presentation.name}} </a>  
              - {{presentation.speaker}} 
            </li>
          </ul>
        </div>
      </div>
    </div>  
</div>